<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文件加密/解密</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>文件加密</h1>
          {% if result %}
          <p>{{ result }}</p>
          {% endif %}
          <form method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label for="file">选择要加密的文件:</label>
              <input type="file" name="file" id="file" />
            </div>
            <div class="form-group">
              <label for="password">输入密码:</label>
              <input type="password" name="password" id="password" />
            </div>
            <button type="submit" name="action" value="encrypt" class="btn btn-primary">
              加密
            </button>
          </form>
          {% if downloadname %}
          <br><button id="b1" onclick="location.href='{{ url_for('download', downloadname=downloadname) }}'">下载已解密文件</button><br><br>
          {% endif %}
          {% if keyname %}
          <button id="b2" onclick="location.href='{{ url_for('download_key', keyname=keyname) }}'">下载密钥文件</button>
          {% endif %}
        </div>
        <div class="col-md-6">
          <h1>文件解密</h1>
          <form method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label for="encrypted_file">选择要解密的文件:</label>
              <input type="file" name="encrypted_file" id="encrypted_file" />
            </div>
            <div class="form-group">
              <label for="key_file">选择密钥文件:</label>
              <input type="file" name="key_file" id="key_file" />
            </div>
            <button type="submit" name="action" value="decrypt" class="btn btn-primary">
              解密
            </button>
          </form>
          {% if decrypted_filename %}
          <button id="b3" onclick="location.href='{{ url_for('download_decrypted_file', filename=decrypted_filename) }}'">下载已解密文件</button>
          {% endif %}
        </div>
      </div>
    </div>
    <script>
        $(document).ready(function() {
          $("#b1").click(function() {
            $(this).prop('disabled', true);
          });
        });
        $(document).ready(function() {
          $("#b2").click(function() {
            $(this).prop('disabled', true);
          });
        });
        $(document).ready(function() {
          $("#b3").click(function() {
            $(this).prop('disabled', true);
          });
        });
    </script>
  </body>
</html>
